
.idea/
.DS_Store
detection/wandb/
detection/work_dirs*/
detection/test_results*/
detection/mmdet_custom/work_dirs*/
detection/mmdet_custom/models/backbones/cxrlearn_copy.zip
detection/bash_output
detection/labels
detection/metric_v2_preds
*.pth
*.png
*.err
*.out
*.log*